/****MODULE 2 CSS STYLES****/

/****BASE STYLES****/
*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

section{
	/*pushes boxes down*/
	margin-top: 25px;
}

h2{
	/*center bold text increased by 75%*/
	text-align: center;
	font-weight: bold;
	font-size: 175%;
}

p{
	/*grey background with bold font*/
	background-color: #878A8A;
	font-weight: bold;
	/*50px top padding to push text down
	below the box title*/
	padding: 50px 10px 10px 10px;
	border: 1px solid black;
}

#chicken{
	background-color: pink;
	font-weight: bold;
	/*positioning box title with floating and
	relative positioning*/
	float: right;
	position: relative;
	top: 0px;
	/*padding and border to match example
	markup*/
	padding: 5px 40px 5px 40px;
	border: solid black 1px;
}

#beef{
	background-color: #B32E0A;
	color: whitesmoke;
	font-weight: bold;
	/*positioning box title with floating and
	relative positioning*/
	float: right;
	position: relative;
	top: 0px;
	/*padding and border to match example
	markup*/
	padding: 5px 52px 5px 52px;
	border: solid black 1px;

}

#sushi{
	background-color: #ECDA9E;
	font-weight: bold;
	/*positioning box title with floating and
	relative positioning*/
	float: right;
	position: relative;
	top: 0px;
	/*padding and border to match example
	markup*/
	padding: 5px 48px 5px 48px;
	border: solid black 1px;

}

/****DESKTOP SIZE (LARGE)****/
@media (min-width: 992px){

	.large-1, .large-2, .large-3{
		float: left;
	}

	/*setting width and margin spacing to 
	match example markup*/

	.large-1{
		width: 30%;
		margin-left: 30px;
		margin-right: 30px;
	}

	.large-2{
		width: 30%;
		margin-right: 15px;
	}

	.large-3{
		width: 30%;
	}

}

/****TABLET SIZE (MEDIUM)****/
@media (min-width: 768px) and (max-width: 991px)
{
	.med-1, .med-2, .med-3{
		float: left;
	}

	/*setting width and margin spacing to 
	match example markup*/

	.med-1{
		width: 45%;
		margin-left: 30px;
	}

	.med-2{
		width: 45%;
		margin-left: 20px;
		margin-right: 5px;
	}

	.med-3{
		width: 92.25%;
		margin-left: 30px;
	}

}


/****MOBILE SIZE (SMALL)****/
@media (max-width: 767px)
{
	.small-1, .small-2, .small-3{
		float: left;
	}

	/*setting width and margin spacing to 
	match example markup*/

	.small-1{
		width: 100%;
	}

	.small-3{
		width: 100%;
	}

	.small-3{
		width: 100%;
	}

}